.cardContainer {
  display: flex;
  flex-direction: column;
  gap: 24px;

  width: 378px;
  padding: 32px 24px;
}

.title {
  margin-bottom: 37px;
  text-align: center;
}

.newPasswordInput {
  margin-bottom: 24px;
}

.confirmPasswordInput {
  margin-bottom: 7px;
}

.newPassWarning {
  margin-bottom: 41px;
  color: var(--color-light-900);
}
