.notification {
  display: flex;
  flex-direction: column;
  gap: 6px;
  font-size: 14px;
}

.header {
  display: flex;
  gap: 3px;
  align-items: center;
}

.title {
  font-weight: 600;
}

.tag {
  font-size: 12px;
  font-weight: 500;
  color: var(--color-accent-500);
}

.date {
  color: var(--color-dark-100);
}
