.toastWrapper {
  transform: translateY(20px);
  width: 387px;
  height: 48px;
  border-radius: 2px;

}

.error {
  border: 1px solid var(--color-danger-900);
  background-color: var(--color-danger-500);
}

.success {
  border: 1px solid var(--color-success-900);
  background-color: var(--color-success-500);
}
