.button {
  text-decoration: dashed;
  all: unset;
  cursor: pointer;
  box-sizing: border-box;
  padding: 6px 24px;
  //width: 184px;
  //height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease-in-out;
  font-weight: var(--font-weight-semibold);
  font-size: 16px;
  line-height: 24px;
  border-radius: 2px;
  svg {
    margin-right: 24px;
  }
}

.primary {
  background: var(--color-accent-500);
  color: var(--color-light-100);
  &:hover {
    background: var(--color-accent-100);
    color: var(--color-light-100);
  }
  &:active {
    background: var(--color-accent-700);
    color: var(--color-light-500);
  }
  &:focus {
    background: var(--color-accent-700);
    color: var(--color-light-100);
  }
  &:disabled {
    background: var(--color-accent-900);
    color: var(--color-light-900);
  }
}
.fullWidth {
  width: 100%;
  padding: 6px 0;
}






.secondary {
  background: var(--color-dark-300);
  color: var(--color-light-100);
  &:active {
    background: #212121;
    color: var(--color-light-100);
  }
  &:hover {
    background: var(--color-dark-100);
    color: var(--color-light-100);
  }
  &:focus {
    background: var(--color-dark-300);
    color: var(--color-light-100);
    border: 1px solid var(--color-accent-300);
  }
  &:disabled {
    background: var(--color-dark-500);
    color: var(--color-light-900);
  }
}



.outlined {
  background: transparent;
  color: var(--color-accent-500);
  border: 1px solid var(--color-accent-300);
  &:active {
    background: transparent;
    color: var(--color-accent-700);
    border: 1px solid var(--color-accent-700);
  }
  &:hover {
    background: transparent;
    color: var(--color-accent-100);
    border: 1px solid var(--color-accent-100);
  }
  &:focus {
    background: transparent;
    color: var(--color-accent-700);
    border: 2px solid var(--color-accent-700);
  }
  &:disabled {
    background: transparent;
    color: var(--color-accent-900);
    border: 1px solid var(--color-accent-900);
  }

}






.miniOutlined {
  width: 100px;
  color: var(--color-accent-500);
  &:active {
    color: var(--color-accent-700);
  }
  &:hover {
    color: var(--color-accent-100);

  }
  &:focus {
    color: var(--color-accent-700);
    border: 2px solid var(--color-accent-700);

  }
  &:disabled {
    color: var(--color-accent-900);
  }

}


.languageButton {
  width: 115px;
  color: var(--color-light-100);
  background: var(--color-dark-300);

}

.languageButton::before {
  content: '';
  width: 24px;
  height: 24px;
}
