.title {
  margin-bottom: 19px;
}

.description {
  width: 294px;
  margin-bottom: 30px;
  text-align: center;
}

.userEmailInput {
  width: 229px;
  margin-bottom: 24px;
}

.button {
  margin-bottom: 36px;
}
