.container {
  display: flex;
  gap: 10px;
  align-items: center;
}

.label {
  cursor: pointer;
  user-select: none;

  display: flex;
  align-items: center;

  color: var(--color-light-100);

  &.disabled {
    cursor: initial;
    color: var(--color-dark-100);
  }
}

.root {
  cursor: pointer;

  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 18px;
  height: 18px;
  border: 2px solid var(--color-light-500);
  border-radius: 2px;

  background-color: var(--color-dark-900);

  transition: all 0.2s ease;

  &::after {
    content: '';

    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 36px;
    height: 36px;
    border-radius: 50%;

    background-color: transparent;

    transition: background-color 0.2s ease;
  }

  &[data-state='checked'] {
    border-color: var(--color-light-100);
    background-color: var(--color-light-100);
  }

  &:focus-visible {
    outline: 2px solid var(--color-dark-500);

    &::after {
      background-color: var(--color-dark-500);
      outline: 2px solid var(--color-light-100);
      outline-offset: 2px;
    }
  }

  &:hover:not(:disabled)::after {
    background-color: var(--color-dark-300);
  }

  &:active:not(:disabled)::after {
    background-color: var(--color-dark-100);
  }

  &:disabled {
    cursor: initial;

    &:not([data-state='checked']) {
      border: 2px solid var(--color-light-900);
    }

    &[data-state='checked'] {
      border-color: var(--color-dark-100);
      background-color: var(--color-dark-100);
    }
  }
}

.indicator {
  display: flex;
  align-items: center;
  justify-content: center;

  svg {
    width: 16px;
    height: 16px;
  }

  .root:disabled & svg path {
    fill: var(--color-light-700);
  }
}

.recaptchaRoot {
  width: 20px;
  height: 20px;
  border-color: var(--color-light-100) !important;
  border-radius: 1px;

  background-color: var(--color-light-100) !important;

  &::after {
    display: none !important;
  }

  &:hover,
  &:focus,
  &:active {
    &::after {
      display: none !important;
      background-color: transparent !important;
    }
  }

  &[data-verified='true'] {
    border-color: transparent !important;
    background-color: transparent !important;

    .indicator {
      svg path {
        fill: #19983be6;
      }
    }
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.verified {
  animation: fadein 0.3s ease-in-out;
}