.container {
  display: flex;
  gap: 8px;
  align-items: center;
}

.label {
  cursor: pointer;
  user-select: none;

  display: flex;
  align-items: center;

  color: var(--color-light-100);

  &.disabled {
    cursor: initial;
    color: var(--color-dark-100);
  }
}

.root {
  cursor: pointer;

  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 18px;
  height: 18px;
  border: 2px solid var(--color-light-100);
  border-radius: 2px;

  background-color: var(--color-dark-900);

  transition: all 0.2s ease;

  &::after {
    content: '';

    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 36px;
    height: 36px;
    border-radius: 50%;

    background-color: transparent;

    transition: background-color 0.2s ease;
  }

  &[data-state='checked'] {
    border-color: var(--color-light-100);
    background-color: var(--color-dark-900);
  }

  &:focus-visible {
    outline: 2px solid var(--color-dark-500);

    &::after {
      background-color: var(--color-dark-500);
      outline: 2px solid var(--color-light-500);
      outline-offset: 2px;
    }
  }

  &:disabled {
    cursor: initial;
    color: var(--color-dark-100);

    &[data-state='checked'] {
      background-color: var(--color-light-700);
    }
  }
}

.indicator {
  display: flex;
  align-items: center;
  justify-content: center;

  svg {
    width: 18px;
    height: 18px;
  }
}