.cardContainer {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 378px;
  height: 504px;
  padding: 24px;
}

.verifiedContainer {
  height: 432px;
}

.title {
  margin-bottom: 37px;
  text-align: center;
}

.formContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 100%;
}

.forgotPasswordLink {
  margin-bottom: 17px;
  color: var(--color-light-900);
}

.verifiedForgotPasswordLink {
  margin-bottom: 23px;
}

.emailInput {
  margin-bottom: 7px;
}

.buttonSendLink {
  margin-bottom: 24px;
}

.backToSignIn {
  margin-bottom: 24px;
}

.verifiedBackToSignIn {
  margin-bottom: 12px;
}

.notificationEmail {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  width: 100%;
  margin-bottom: 18px;
}
