.trigger {
  cursor: pointer;
  border: 0;
  background: transparent;
  outline: 0;
}

.content {
  position: relative;

  display: flex;
  flex-direction: column;
  gap: 12px;

  margin-top: 3px;
  padding: 16px;
  border: 1px solid var(--color-dark-100);
  border-radius: 4px;

  background-color: var(--color-dark-500);
}

.label {
  cursor: initial;
  user-select: none;

  padding: 4px 8px 4px 4px;

  font-size: 16px;
  font-weight: 500;
  line-height: 24px;

  outline: transparent;
}

.item {
  cursor: pointer;
  padding: 12px 8px 4px 4px;
  outline: 0;
}

.separator {
  height: 1px;
  margin: 12px 4px 0;
  background-color: var(--color-dark-100);
}

.arrow {
  position: absolute;
  top: -3.6px;
  left: -4px;
  transform: rotate(45deg);

  width: 8px;
  height: 8px;
  border: 1px solid var(--color-dark-100);
  border-top: none;
  border-left: none;

  background-color: var(--color-dark-500);
}
