.cardContainer {
  width: 378px;
  height: 408px;
  padding: 23px 24px 36px;
}

.title {
  margin-bottom: 37px;
  text-align: center;
}

.newPasswordInput {
  margin-bottom: 24px;
}

.confirmPasswordInput {
  margin-bottom: 7px;
}

.newPassWarning {
  margin-bottom: 41px;
  color: var(--color-light-900);
}
