.container {
  padding: 30px 24px 36px;
}

.buttonContainer {
  display: flex;
  gap: 24px;
  justify-content: flex-end;
  margin-top: 30px;
}

.button {
  width: 96px;
  height: 36px;
}

.email {
  font-weight: var(--font-weight-bold);
}
