.cardContainer {
  width: 378px;
  height: 648px;
  padding: 24px;
}

.title {
  text-align: center;
}

.formContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 100%;
}

.svgContainer {
  display: flex;
  gap: 60px;
  margin: 13px 99px 24px;

  svg {
    width: 36px;
    height: 36px;
    color: var(--color-light-100);
  }
}

.forgotPasswordLink {
  color: var(--color-light-900);
  text-decoration: none;

  &:visited {
    color: var(--color-light-900);
  }
}

.emailInput {
  margin-bottom: 24px;
}

.passwordInput {
  margin-bottom: 36px;
}

.buttonSignIn {
  margin-top: 24px;
  margin-bottom: 18px;
}

.noAccountP {
  margin-bottom: 6px;
  text-align: center;
}
