.container {
  display: grid;
}

.label {
  font-size: 14px;
  color: var(--color-dark-500);
  font-weight: 400;
  color: var(--color-light-900);
  &.disabled {
    cursor: initial;
    color: var(--color-dark-100);
  }
}

.select {
  width: 210px;
  height: 36px;
  border: 1px solid var(--color-dark-100);
  background: none;
  text-align: left;
  &:focus {
    border: 2px solid var(--color-accent-500);
  }
  &.disabled {
    cursor: initial;
    color: var(--color-dark-100);
  }
}
.content {
  &:focus {
    color: var(--color-accent-500);
  }
}
.scrollBtn {
  color: red;
}



