.selectWrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 210px;
}
.valueContainer {
  display: flex;
  align-items: center;
  gap: 8px;
}

.optionContent {
  display: flex;
  align-items: center;
  gap: 8px;
}

.optionIcon {
  display: flex;
  align-items: center;
}

.pagination {
  .trigger {
    min-width: 60px;
    justify-content: center;
  }
}
.label {
  font-size: 14px;
  color: var(--color-light-100);
}

.trigger {
  all: unset;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  padding: 6px 12px;
  border-radius: 4px;
  border: 1px solid var(--color-dark-300);
  background-color: var(--color-dark-700);
  color: var(--color-light-100);
  font-size: 14px;
  cursor: pointer;
  transition: all 0.2s ease;

  &:hover:not(:disabled) {
    background-color: var(--color-dark-500);
  }
  &:hover {
    border: 2px solid var(--color-accent-500);
  }

  &:focus {
    outline: 2px solid var(--color-info-700);
  }

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }

  &[data-placeholder] {
    color: var(--color-dark-100);
  }
}

.icon {
  display: flex;
}

.content {
  width: 210px;
  overflow: hidden;
  background-color: var(--color-dark-700);
  border-radius: 6px;
  border: 1px solid var(--color-dark-300);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  z-index: 1000;
}

.viewport {
  padding: 4px;
}

.scrollButton {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 24px;
  background-color: var(--color-dark-700);
  color: var(--color-light-100);
  cursor: default;
}

.item {
  all: unset;
  font-size: 14px;
  line-height: 1;
  color: var(--color-light-100);
  border-radius: 3px;
  display: flex;
  align-items: center;
  padding: 6px 8px 6px 24px;
  position: relative;
  user-select: none;
  cursor: pointer;

  &[data-highlighted] {
    color: var(--color-accent-500);
    background: var(--color-dark-300);
    outline: none;
  }
}

.itemIndicator {
  position: absolute;
  left: 6px;
  width: 16px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.error {
  border-color: var(--color-danger-500);
}

.errorMessage {
  font-size: 12px;
  color: var(--color-danger-500);
}
