.selectWrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 210px;
}

.valueContainer {
  display: flex;
  gap: 8px;
  align-items: center;
}

.optionContent {
  display: flex;
  gap: 8px;
  align-items: center;
}

.optionIcon {
  display: flex;
  align-items: center;
}

.trigger {
  all: unset;

  cursor: pointer;

  display: inline-flex;
  align-items: center;
  justify-content: space-between;

  padding: 6px 12px;
  border: 1px solid var(--color-dark-300);
  border-radius: 4px;

  font-size: 14px;
  color: var(--color-light-100);

  background-color: var(--color-dark-700);

  transition: all 0.2s ease;

  &:hover {
    border: 1px solid var(--color-light-100);
  }

  &:focus {
    outline: 2px solid var(--color-accent-500);
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }

  &:hover:not(:disabled) {
    background-color: var(--color-dark-500);
  }

  &[data-placeholder] {
    color: var(--color-dark-100);
  }
}

.pagination {
  .trigger {
    justify-content: center;
    min-width: 60px;
  }
}

.label {
  font-size: 14px;
  color: var(--color-light-100);
}

.icon {
  display: flex;
}

.content {
  z-index: 1000;

  overflow: hidden;

  width: 210px;
  border: 1px solid var(--color-dark-300);
  border-radius: 6px;

  background-color: var(--color-dark-700);
  box-shadow: 0 4px 12px rgb(0 0 0 / 20%);
}

.viewport {
  padding: 4px;
}

.scrollButton {
  cursor: default;

  display: flex;
  align-items: center;
  justify-content: center;

  height: 24px;

  color: var(--color-light-100);

  background-color: var(--color-dark-700);
}

.item {
  all: unset;

  cursor: pointer;
  user-select: none;

  position: relative;

  display: flex;
  align-items: center;

  padding: 6px 8px 6px 24px;
  border-radius: 3px;

  font-size: 14px;
  line-height: 1;
  color: var(--color-light-100);

  &[data-highlighted] {
    color: var(--color-accent-500);
    background: var(--color-dark-300);
    outline: none;
  }
}

.itemIndicator {
  position: absolute;
  left: 6px;

  display: inline-flex;
  align-items: center;
  justify-content: center;

  width: 16px;
}

.error {
  border-color: var(--color-danger-500);
}

.errorMessage {
  font-size: 12px;
  color: var(--color-danger-500);
}
