.profile {
  padding: 36px 64px 36px 24px;
  display: flex;
  gap: 38px;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: flex-start;
  gap: 20px;
  margin-bottom: 53px;
}

.details {
  display: flex;
  gap: 100px;
  margin: 0;
}

.detail {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: start;
}

.countsOfDetail{
  margin: 0;
  font-weight: bold;
}