.textareaRoot {
  display: flex;
  flex-direction: column;

  box-sizing: border-box;

  font-weight: 400;
  line-height: 24px;
  color: var(--color-dark-200);

  .textAreaLabel {
    padding-bottom: 3px;
    font-size: 14px;
    color: var(--color-light-900);
  }

  .textArea {
    resize: none;

    padding: 0.5rem;
    border: 1px solid var(--color-dark-300);
    border-radius: 1px;

    font-size: 16px;

    background-color: var(--color-dark-700);
    outline: none;

    &:hover {
      color: var(--color-dark-200);
    }

    &:focus {
      border: 1px solid var(--color-accent-700);
      color: var(--color-light-100);
    }

    &:active {
      border: 1px solid var(--color-light-100);
      color: var(--color-light-100);
      outline: none;
    }

    &.disabled {
      border: 1px solid var(--color-dark-300);
      color: var(--color-dark-300);
    }

    &:active:disabled {
      border: 1px solid var(--color-dark-300);
    }
  }

  .textAreaError {
    padding-top: 2px;
    font-size: 14px;
    color: var(--color-danger-500);
  }

  .errorBorder {
    border: 1px solid var(--color-danger-500);

    &:active {
      border: 1px solid var(--color-danger-500);
    }

    &:focus {
      border: 1px solid var(--color-danger-500);
    }
  }
}
